html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

.logo {
    margin-top: 20px;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;

}

.title {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.login_box,
.reg_box {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.login_box a{
    font-size: 12px;
}

.reg_box a{
    font-size: 12px;
}

.right_btn {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 5px;
    top: 11px;
}

input {
    padding-left: 25px !important;
}